<h1> About Page </h1>
<h4>By: Steven Lee</h4>

<h5><%= link_to "Total number of Scientists: #{@scientists.count}", scientists_path %></h5>
<h5><%= link_to "Total number of Planets: #{@planets.count}", planets_path %></h5>
